* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffe6e6;
  font-family: Arial, sans-serif;
}

header {
  background-color: #eeaeb9;
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  width: 40%;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin: 10px;
}

nav ul li {
  display: flex;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.logo {
  order: 1;
  display: flex;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 10vh;
}

nav ul li a:hover,
.active {
  background-color: #ff4d4d;
}

.titulo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo h1 {
  font-size: 45px;
}

.titulo h2 {
  font-size: 30px;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 13px;
  flex-grow: 1;
}

.information_main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 13px;
  flex-grow: 1;
  height: 90vh;
}


.banner {
  width: 100%;
  height: 53vh;
  display: flex;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.banner2 {
  width: 100%;
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9vh;
}

.banner2 .infobanner {
  width: 40%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vh;
}

.banner2 .imgbanner {
  width: 40%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4vh;
}

.banner2 img {
  width: 70%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

footer {
  background: linear-gradient(to right, #eeaeb9, #eeaeb9);
  color: #fff;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

footer p {
  padding: 4vh;
}

/* inicio css contact */

.bannerinfo {
  margin: 10px;
  width: 100vh;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_contact {
  width: 75%;
  border-radius: 10px;
}

.parrafo {
  font-size: 150%;
  margin: 5px;
}

.infocontact,
.infocontact1 {
  width: 77vh;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*inicio css de information */

.titulosInfor {
  margin-top: 10px;
}

.div_tabla {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.tabla1 {
  align-items: center;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid rgb(255, 255, 255);
  padding: 20px;
  text-align: left;
  background-color: #e77070;
}

th {
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

td {
  color: rgb(0, 0, 0);
  background-color: #eeaeb9;
}

/* inicio css benefits */

.contenidoBe {
  width: 80%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 47vh;
  align-items: center;
  justify-items: center;
}

.contenidoBe img {
  width: 200px;
  height: 200px;
  border-radius: 2px;
  object-fit: cover;
  margin-right: 31px;
  margin: 5px;
  border-radius: 6px;
  margin: 20px;
  display: flex;
}

.tarjeta {
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.texto {
  margin-left: 50px;
  align-content: center;
}

.edittarjeta {
  margin-right: 45px;
}

/* inicio css raffle */

.form-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 95%;
  align-items: center;

  border: 1px solid white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  width: 23%;
  border: 1px solid white;
  align-items: flex-start;
  gap: 10px;
}

input[type="text"],
input[type="date"],
select,
textarea {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

.payment-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.payment1 input {
  margin: 1px;
}

.terms {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.terms input {
  margin-right: 10px;
}

.submit-btn {
  display: block;
  width: 55%;
  padding: 10px;
  background-color: #eeaeb9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.map-container {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  flex-direction: column;
}

.map-container-p {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

/* Media query para resolución de 768px  */

@media screen and (max-width: 768px) {


  .index_main {
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .information_main {
    height: 59vh;
    justify-content: space-around;
    align-items: center;

  }

  .aboutUs_main {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

  }

  .raffle_main {
    height: 207vh;
    justify-content: space-around;
    align-items: center;
  }

  header {
    flex-direction: column;
  }

  .logo {
    order: 0;
    width: 44%;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    width: 100%;
    justify-content: center;
    align-items: center;
    order: 1;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  nav ul li a {
    padding: 1rem;
  }

  .banner,
  .banner2,
  .banner2,
  .banner2 .imgbanner {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .banner2_index {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }


  .banner1 {
    flex-direction: column-reverse;

  }

  .banner2 .banner2 .imgbanner {
    height: auto;
    margin: 0;
  }

  .infobanner1 {
    flex-direction: column-reverse;
  }

  footer {
    flex-direction: column-reverse;
  }

  .bannerinfo {
    width: 28vh;
  }

  .img_contact {
    width: 93%;

  }

  .e-mail {
    font-size: 34px;
  }

  .Phone {
    font-size: 21px;
  }

  .contenidoBe {
    width: 100%;
    margin-top: 38px;
  }

  th,
  td {
    width: 300px;
    font-size: 12px;
  }


  .div_tabla {
    width: 100px;
  }

  .tabla1 {
    width: 50px;
  }

  .edittarjeta {
    margin-right: 45px;
    flex-direction: column;
  }

  .tarjeta {
    flex-direction: column;
  }

  form {
    width: 90%;
    margin-top: 50px;
  }

  .form-container {
    flex-direction: column;
    width: 86%;
  }

  .map-container {
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 40%;
    margin-top: 50px;
    gap: 3px;
  }

  .map {
    width: 300px;
  }


}


/* Media query para resolución de minimo de 768px  */

@media screen and (min-width: 769px) and (max-width:1024px) {

  .img_contact {
    width: 54%;
    border-radius: 10px;
  }

  .bannerinfo {
    height: 90vh;
    width: 100%;
  }


  .contenidoBe {
    height: 90vh;
    justify-content: center;
  }

  .tarjeta {
    flex-direction: column;
  }

  .form-container {
    height: 74vh;
  }

}


@media screen and (min-width: 1024px){
  .contenidoBe{
    min-height: 73vh;
  }
}